//colors
$background-color: #030014;
$background-color-1:white;
$color: lightgray;
$color-1: black;


//font
$default-font: 'DM Sans', sans-serif;




/* Landscape phones and down */
@mixin mobile {
    @media (max-width: 480px) {
      @content;
    }
  }

/* Landscape phone to portrait tablet */
@mixin tablet {
    @media (max-width: 767px) {
        @content;
    }
}

/* Portrait tablet to landscape and desktop */
@mixin laptop {
    @media (min-width: 768px) and (max-width: 1366px) {
        @content;
    }
}

